@import 'reset';

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-logo{
    @include flex-center();
    color: #ffffff;
    font-size: 1.5em;

    svg{
        margin-right: 5px;
    }
}

.c-logo--dark{
    color: #b1b1b1;
    span{
        color: #000000;
    }
}