@import 'reset';

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-logo{
    @include flex-center();
    color: #ffffff;
    font-size: 1.5em;

    svg{
        margin-right: 5px;
    }
}

.c-logo--dark{
    color: #b1b1b1;
    p, span{
        color: #000000;
    }
}

.vertical-bar{
    content: "";
    width: 2px;
    height: 20px;
    background-color: rgb(177, 177, 177);
    margin: 0 10px;
}